@model Kingdom.Web.Models.Tile.TileViewModel



<div class="grass">
    <div class="tree01"></div>
    <div class="tree02"></div>
    <div class="tree03"></div>
    <div class="tree04"></div>
    <div class="tree05"></div>
    <div class="tree06"></div>
    <div class="tree07"></div>
    <div class="tree08"></div>
    <div class="tree09"></div>
</div>